<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>增加/修改用户</title>
    <link rel="stylesheet" href="/css/theme/theme.css"/>
</head>
<body>
<% include ../common/head.html %>

<div class="m-addEditUser">
    <div class="g-container">
        <div class="b-10"></div>
        <div id="j-addEditUser">

        </div>
    </div>
</div>

<% include ../common/footer.html %>

<!--require模块写法-->
<script data-main="users/page/addEditUser" type="text/javascript" src="/javascripts/vendor/require.js"></script>
</body>
</html>