<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有用户</title>
    <link rel="stylesheet" href="/css/theme/theme.css"/>
</head>
<body>
<% include ../common/head.html %>

<div class="g-wrap m-allUsers">
    <div class="g-container">
        <div class="b-10"></div>
        <div class="j-allUsers">
            这里是所有用户列表
        </div>
        <div class="b-10"></div>
    </div>
</div>

<% include ../common/footer.html %>

<script src="/javascripts/users/page/allUsers.js"></script>
</body>
</html>